.sidebar {
    height: 100%;
    flex: 1.5;
    background-color: #332C39;
    border-right: #ffffff solid 1px;
}


/*================================ USER LOGIN ===============================*/
.user-login {
    background-color: #609EA2;
    color: #332C39;
    padding: 10px 15px;
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: space-between;
}
.user-login .left{
    text-transform: uppercase;
    font-size: 13px;
}
.user-login .right {
    display: flex;
    align-items: center;
    gap: 5px
    
}
.user-login .right .image{
    display: flex;
    align-items: center;
}
.user-login .right .image img{
    max-width: 30px;
    border-radius: 50%;
}
.user-login .right .image p{
    margin-right: 10px;
}
.user-login .right button {
    padding: 10px 4px;
    background-color: #F0EEED;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: none;
    text-transform: capitalize;
    color: #332C39;
}
/*================================ SEARCH ===============================*/
.sidebar .search {
    margin-top: 1px;
}
.sidebar .search input[type="text"] {
    width: 100%;
    padding: 15px 15px;
    outline: none;
    border: none;
    border-bottom: solid 1px white;
    background-color: transparent;
    color: white;
    font-size: 15px;
}
/*================================ friends ===============================*/
.sidebar .user {
    margin: 5px 0;
    display: flex;
    padding: 5px 15px;
    gap: 10px;
    align-items: center;
    color: #F0EEED;
}
.sidebar .header p {
    padding: 10px 10px 0;
    font-weight: bold;
    color: white;
}
.sidebar  .user:hover {
    background-color: #231e28;
}
.sidebar  .user img {
    max-width: 50px;
    border-radius: 50%;
}
.sidebar  .user .user-info span {
    margin-top: 5px;
    display: block;
    font-size: 13px;
}